<a href="https://colab.research.google.com/github/slawekpl81/data_science_udemy/blob/master/data_frame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame(data=[12,12,34], index=['first', 'second', 'third'], columns=['col_1'])
df

        col_1
first      12
second     12
third      34

In [4]:
df = pd.DataFrame(data={'WIG20': ['pkn orlen', 'pko bp'],
                        'mWIG40': ['amica', 'playway']
})
df

       WIG20   mWIG40
0  pkn orlen    amica
1     pko bp  playway

In [5]:
df = pd.DataFrame(data=[[10, 12, 13], [23, 12, 10]], index=['first', 'second'], columns=['col_1', 'col_2', 'col_3'])
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

In [6]:
df.columns

Index(['col_1', 'col_2', 'col_3'], dtype='object')

In [7]:
df.index

Index(['first', 'second'], dtype='object')

In [8]:
df.values

array([[10, 12, 13],
       [23, 12, 10]])

In [ ]:
df.info()

In [ ]:
df.describe().T

In [14]:
df.col_1
df['col_1'] # dataSeries

first     10
second    23
Name: col_1, dtype: int64

In [ ]:
df[['col_1']] # DataFrame

In [ ]:
df.columns = ['a','b','c']
df

In [20]:
df.loc['first', 'a']

10

In [21]:
df.loc[: , 'b']

first     12
second    12
Name: b, dtype: int64

In [24]:
df.iloc[0,1]

12