<a href="https://colab.research.google.com/github/slawekpl81/data_science_udemy/blob/master/sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [ ]:
url = ('https://storage.googleapis.com/esmartdata-courses-files/ds-bootcamp/online_retail.xlsx')
retail_raw = pd.read_excel(url)
retail_raw.head()

In [ ]:
retail = retail_raw.copy()
retail.info()

In [ ]:
retail.isnull().sum()

In [5]:
retail = retail.dropna()

In [ ]:
retail = retail[retail.Quantity >= 0]
retail.info()

In [ ]:
retail.CustomerID = retail.CustomerID.apply(lambda x: str(int(x)))
retail.info()

In [ ]:
retail.info()

In [ ]:
# SELECT * FROM retail;
retail

In [ ]:
# SELECT Quantity, UnitPrice, CustomerID FROM retail;
retail[['Quantity', 'UnitPrice', 'CustomerID']]

In [ ]:
# SELECT Quantity, UnitPrice, CustomerID FROM retail LIMIT 10;
retail[['Quantity', 'UnitPrice', 'CustomerID']][:10]

In [ ]:
# SELECT * FROM retail WHERE CustomerID='17850';
retail[retail['CustomerID'] == '17850']

In [ ]:
retail.query('CustomerID=="17850"')

In [ ]:
# SELECT * FROM retail WHERE CustomerID='17850' AND UnitPrice > 5;
retail[(retail['CustomerID']=='17850') & (retail['UnitPrice']>5)]

In [ ]:
# SELECT * FROM retail WHERE CustomerID='17850' OR Country='France';
retail[(retail['CustomerID']=='17850') | (retail.Country=='France')]

In [ ]:
# SELECT * FROM retail WHERE InvoiceNo is not null;
retail[retail.InvoiceNo.notnull()]

In [ ]:
# SELECT CustomerId, count(*) FROM retail GROUP BY CustomerId;
#retail.CustomerID.value_counts()
retail.groupby('CustomerID').size()

In [ ]:
# SELECT CustomerID, avg(Revenue), count(*) FROM retail GROUP BY CustomerID;
retail['Revenue'] = retail.UnitPrice * retail.Quantity
retail.head()

In [ ]:
retail.groupby('CustomerID').aggregate({'Revenue':np.mean, 'CustomerID':np.size})

In [ ]:
retail.groupby('CustomerID').aggregate({'Revenue':np.mean, 'CustomerID':np.size}).\
  rename(columns={'Revenue': 'RevenueAverage', 'CustomerID': 'NumberPositions'})

In [66]:
# SELECT InvoiceDateDay, sum(Revenue) FROM retail GROUP BY InvoiceDateDay;
retail['InvoiceDateDay'] = retail.InvoiceDate.dt.day

In [ ]:
retail.groupby('InvoiceDateDay').aggregate({'Revenue': np.sum})

In [ ]:
# by day name
retail['DayName'] = retail.InvoiceDate.dt.day_name()
retail.head()

In [ ]:
retail.groupby('DayName').aggregate({'Revenue': np.sum}).plot(kind='bar')

In [ ]:
# SELECT * FROM retail ORDER BY Quantity DESC LIMIT 5;
# retail.sort_values(by='Quantity', ascending=False)[:5]
retail.nlargest(n=5, columns='Quantity')

In [ ]:
# SELECT  * FROM retail ORDER BY Quantity LIMIT 5;
# retail.sort_values(by='Quantity')[:5]
retail.nsmallest(n=5, columns='Quantity')